
/* Styling for vertical scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px; /* Add this for horizontal scrollbar */
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Ensure horizontal scrollbar thumb is also styled */
::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

/* Ensure horizontal scrollbar track is also styled */
::-webkit-scrollbar-track:horizontal {
  background: #e0e0e0;
}

::-webkit-scrollbar-track:horizontal:hover {
  background: #555;
}

